<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua- content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Jose Luis Da Conceicao</title>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L092X0ZPRD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L092X0ZPRD');
</script>
</head>
  <body>
  <div>
    <img src="https://i.pinimg.com/736x/3a/07/03/3a0703d2b5bf64ab62918e917ac2ad2a.jpg" alt="2x2" height="120">
    <h1>JOSE LUIS DA CONCEICAO</h1>
    <p>Cedula: V-32138578</p>
    <p>Dirección: Carretera Nacional Camatagua-Barbacoa Sector el Satelite</p>
    <P>Telefono: (0424) 3764644</P>
    <p>Fecha de nacimiento: 16/11/2005</p>
    <p>Edad:18</p>

    <fieldset>
      <legend>Datos Generales</legend>
      <ul>
        <li> Correo Electronico: daconceicaojoseluis88@gmail.com </p>
        <li><a href=Facebook:https://www.facebook.com/joseluis.daconceicao.37>Facebook</a></p>
        <li><a href="Intagramhttps://www.instagram.com/joseluisda.conceicao">Instagram</a></p>
        <li><a href="Telegram:Jose Luis Da Conceicao">Telegram</a></p>
          <li><a href="Whatsapp:(0424)376-4644">whatsapp</a></p>
      </ul>
    </fieldset>
      
      <fieldset>
        <legend>Formacion Academica</legend>
        <ul>
          <li>Prescolar: la hormiguita</li>
          <li>Primaria: Escuela Basica Estadal Camatagua</li
          <li>Bachiller: Unidad Educativa Pribada Pedro Juan Perez de Valenzuela</li>
          <li>Ingeneria en sistema: Universidad Experimental de los Llanos centrales Romulo Gallegos</li>
          <li>cursos: Panaderia,Reposteria y electricista</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>experiencia laboral</legend>
        <li>Encargado: Panaderia Castillo de Oro I C.A RIF: J-29348471-7</li>
        <li>Soldador</li>
        <li>Electricidad</li>
        <li>Plomeria</li>
        <li>Mecanica</li>
      </fieldset>

      <fieldset>
        <legend>Lista De Contacto</legend>
        <button onclick="location.href='/contactos'">ir a cotactos</button>
      </fieldset>
      
  </div> 
 </body>
 </html>