<div>
<fieldset>
  <legend>Formulario de Contacto</legend>
  <form action="/form-contacto" method="post">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Correo electrónico:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="comentario">Comentario:</label><br>
    <textarea id="mensaje" name="mensaje" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Enviar">
  </form> 
</fieldset>
</div>
