body{
  background-color: #00ffcc;
}
div{
  background-color: rgb(255, 255, 255);
  padding: 16px;
  width: 86%;
  margin: 0 auto;
}
fieldset{
  margin-bottom: 12px;
}
legend{
  background-color: #ddf8f7;
  padding: 5px;
  border-radius: 20xp;
  font-weight: bold;
}
